/* CSS Reset */

* {
  box-sizing: border-box;
  margin: 0;
}
button {
  border: 0;
}

/* General Styles */

:root {
  --clr-orange: hsl(31, 77%, 52%);
  --clr-cyan-500: hsl(184, 100%, 22%);
  --clr-cyan-800: hsl(179, 100%, 13%);
  --clr-neutral-100: hsl(0, 0%, 95%);
  --clr-neutral-200: hsla(0, 0%, 100%, 0.75);
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
  color: var(--clr-neutral-200);
  display: grid;
  place-content: center;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  margin: 4rem 0;
  border-radius: 0.5rem;
  /* Allow border-radius to show */
  overflow: hidden;
}

.card__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 3rem;
}

.card__section__sedans {
  background-color: var(--clr-orange);
}

.card__section__suvs {
  background: var(--clr-cyan-500);
}

.card__section__luxury {
  background: var(--clr-cyan-800);
}

.card__section__img {
  flex-grow: 0;
}

.card__section__title {
  color: var(--clr-neutral-100);
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.card__section__content {
  line-height: 1.5;
}

.card__section__button {
  background-color: var(--clr-neutral-100);
  padding: 1rem 2rem;
  border-radius: 2rem;
  height: 50px;
}

.card__section__button:hover {
  color: var(--clr-neutral-200);
  border: 1px solid var(--clr-neutral-100);
  cursor: pointer;
}

.card__section__button__sedans {
  color: var(--clr-orange);
}

.card__section__button__sedans:hover {
  background-color: var(--clr-orange);
}

.card__section__button__suvs {
  color: var(--clr-cyan-500);
}

.card__section__button__suvs:hover {
  background-color: var(--clr-cyan-500);
}

.card__section__button__luxury {
  color: var(--clr-cyan-800);
}

.card__section__button__luxury:hover {
  background-color: var(--clr-cyan-800);
}

/* Media queries */

@media (width > 900px) {
  body {
    height: 100vh;
  }

  .card {
    grid-template-columns: repeat(3, 300px);
  }
}
